input[type="checkbox"].hidden {
  display: none;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox-custom {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  background-color: #f0f0f0;
  border: none;
}

.checkbox-custom::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 10px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -60%) rotate(45deg);
  transition: opacity 0.2s ease;
}

input[type="checkbox"].hidden:checked + .checkbox-custom {
  background-color: #6b46c1;
}

input[type="checkbox"].hidden:checked + .checkbox-custom::after {
  opacity: 1;
}

.custom-checkbox:hover .checkbox-custom {
  border: 1.5px solid #6b46c1;
}
.top {
  @apply w-full;
}
.create {
  background-color: #7c5dfa;
}
.create-icon {
  color: #7c5dfa;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1000;
  overflow: hidden;
}

.modal-content {
  position: relative;
  max-height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  transform: translateX(-100%);
  animation: slideIn 3s forwards;
}

.modal-content::-webkit-scrollbar {
  display: none;
}

.modal-content {
  position: relative;
  max-height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  transform: translateX(-100%);
  animation: slideInSmall 3s forwards;
}

.modal-content::-webkit-scrollbar {
  display: none;
}

@keyframes slideInSmall {
  0% {
    transform: translateX(-100%);
  }
  90% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(0%);
  }
}

@media (min-width: 1024px) {
  @keyframes slideInLarge {
    0% {
      transform: translateX(-100%);
    }
    90% {
      transform: translateX(13.2%);
    }
    100% {
      transform: translateX(13.2%);
    }
  }

  .modal-content {
    animation: slideInLarge 3s forwards;
  }
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 90%;
  background-color: #f0f0f0;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-weight: bold;
}

.close-modal:hover {
  background-color: #e0e0e0;
}
