<div class="top">
  <div class="bg-white p-6 rounded-lg shadow-lg edit-model">
    <h2 class="text-xl font-bold mb-4">Edit #{{ invoice?.id }}</h2>
    <form [formGroup]="invoiceForm" (ngSubmit)="onSubmit()">

      <h3 class="text-md font-semibold mb-2">Bill From</h3>
      <div formGroupName="senderAddress">
        <label class="block label-edit">Street Address</label>
        <input type="text" formControlName="street" class="input" />
      </div>
      <div class="grid grid-cols-3 my-3 gap-4">
        <div formGroupName="senderAddress">
          <label class="block label-edit">City</label>
          <input type="text" formControlName="city" class="input" />
        </div>
        <div formGroupName="senderAddress">
          <label class="block label-edit">Post Code</label>
          <input type="text" formControlName="postCode" class="input" />
        </div>
        <div formGroupName="senderAddress">
          <label class="block label-edit">Country</label>
          <input type="text" formControlName="country" class="input" />
        </div>
      </div>

      <div class="col-span-2 my-3">
        <label class="block label-edit">Project Description</label>
        <input type="text" formControlName="description" class="input" />
      </div>

      <h3 class="text-md font-semibold mt-6 mb-2">Bill To</h3>

      <div>
        <label class="block label-edit">Client's Name</label>
        <input type="text" formControlName="clientName" class="input" />
      </div>
      <div>
        <label class="block label-edit my-3">Client's Email</label>
        <input type="email" formControlName="clientEmail" class="input" />
      </div>
      <div formGroupName="clientAddress">
        <label class="block label-edit my-3">Street Address</label>
        <input type="text" formControlName="street" class="input" />
      </div>

      <div class="grid grid-cols-3 my-3 gap-4">

        <div formGroupName="clientAddress">
          <label class="block label-edit">City</label>
          <input type="text" formControlName="city" class="input" />
        </div>
        <div formGroupName="clientAddress">
          <label class="block label-edit">Post Code</label>
          <input type="text" formControlName="postCode" class="input" />
        </div>
        <div formGroupName="clientAddress">
          <label class="block label-edit">Country</label>
          <input type="text" formControlName="country" class="input" />
        </div>
      </div>

      <h3 class="text-md font-semibold mt-6 mb-2">Item List</h3>
      <div formArrayName="items">
        <div *ngFor="let item of items.controls; let i = index"
          [formGroupName]="i" class="grid grid-cols-5 gap-4 my-5 items-center">
          <div>
            <label class="block label-edit">Item Name</label>
            <input type="text" formControlName="name" class="input" />
          </div>
          <div>
            <label class="block label-edit">Qty.</label>
            <input type="number" formControlName="quantity" class="input" />
          </div>
          <div>
            <label class="block label-edit">Price</label>
            <input type="number" formControlName="price" class="input" />
          </div>
          <div>
            <label class="block label-edit">Tot.</label>
            <span>{{ item.value.quantity * item.value.price | number: '1.2-2'
              }}</span>
          </div>
          <div class="flex items-center">
            <button type="button" (click)="removeItem(i)"
              class="btn-delete">🗑️</button>
          </div>
        </div>
      </div>
      <button type="button" (click)="addItem()" class="btn-add">+ Add New
        Item</button>

      <div class="flex justify-end space-x-4 mt-6">
        <button type="button" class="btn-cancel"
          (click)="onClose()">Cancel</button>
        <button type="submit" class="btn-save">Save Changes</button>
      </div>
    </form>
  </div>
</div>
