.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 5px;
  color: #4b5563;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.input:focus {
  border-color: #7c5dfa;
  box-shadow: 0 0 0 1px #7c5dfa;
}

.btn-cancel {
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 50px;
  background-color: #252945;
  color: white;
}

.btn-save {
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 50px;
  background-color: #7c5dfa;
  color: white;
}

.top {
  width: 100%;
}

.edit-model {
  max-width: 700px;
  margin: 0 auto;
}

h3 {
  font-size: 14px;
  color: #7c5dfa;
}

.grid {
  display: grid;
  gap: 1rem;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.col-span-2 {
  grid-column: span 2 / span 2;
}

@media (max-width: 768px) {
  .grid-cols-2,
  .grid-cols-4 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .col-span-2 {
    grid-column: span 1 / span 1;
  }
}
