<div class="top">
  <div class="bg-white p-6 rounded-lg shadow-lg edit-model">
    <h2 class="text-xl font-bold mb-4">Edit #{{ invoice?.id }}</h2>
    <form [formGroup]="invoiceForm" (ngSubmit)="onSubmit()">

      <h3 class="text-md font-semibold mb-2">Bill From</h3>
      <div class="col-span-2">
        <label class="block text-gray-700">Street Address</label>
        <div formGroupName="senderAddress">
          <input type="text" formControlName="street" class="input" />
        </div>
      </div>
      <div class="grid grid-cols-4 gap-4 my-5">
        <div>
          <label class="block text-gray-700">City</label>
          <div formGroupName="senderAddress">
            <input type="text" formControlName="city" class="input" />
          </div>
        </div>
        <div>
          <label class="block text-gray-700">Post Code</label>
          <div formGroupName="senderAddress">
            <input type="text" formControlName="postCode" class="input" />
          </div>
        </div>
        <div class="col-span-2">
          <label class="block text-gray-700">Country</label>
          <div formGroupName="senderAddress">
            <input type="text" formControlName="country" class="input" />
          </div>
        </div>
      </div>

      <h3 class="text-md font-semibold mt-6 mb-2">Bill To</h3>
      <div class="col-span-2 my-3">
        <label class="block text-gray-700">Client's Name</label>
        <input type="text" formControlName="clientName" class="input" />
      </div>
      <div class="col-span-2 my-3">
        <label class="block text-gray-700">Client's Email</label>
        <input type="email" formControlName="clientEmail" class="input" />
      </div>
      <div class="col-span-2 my-3">
        <label class="block text-gray-700">Street Address</label>
        <div formGroupName="clientAddress">
          <input type="text" formControlName="street" class="input" />
        </div>
      </div>
      <div class="grid grid-cols-4 my-5 gap-4">

        <div>
          <label class="block text-gray-700">City</label>
          <div formGroupName="clientAddress">
            <input type="text" formControlName="city" class="input" />
          </div>
        </div>
        <div>
          <label class="block text-gray-700">Post Code</label>
          <div formGroupName="clientAddress">
            <input type="text" formControlName="postCode" class="input" />
          </div>
        </div>
        <div class="col-span-2">
          <label class="block text-gray-700">Country</label>
          <div formGroupName="clientAddress">
            <input type="text" formControlName="country" class="input" />
          </div>
        </div>
      </div>

      <div class="flex justify-end space-x-4 mt-6">
        <button type="button" class="btn-cancel"
          (click)="onClose()">Cancel</button>
        <button type="submit" class="btn-save" (click)="onSubmit()">Save
          Changes</button>
      </div>
    </form>
  </div>
</div>
