<nav class="navbar">
  <div class="navbar-desktop  flex items-center">
    <div class="top">
      <div class="logo py-4 flex items-center">
        <img src="assets/images/logo.svg" alt="Logo" class="logo-image" />
      </div>
    </div>
    <div
      class="actions mt-auto  items-center my-3">
      <div class="py-3">
        <button class="btn-theme" (click)="toggleTheme()">
          <img
            [src]="(darkMode$ | async) ? 'assets/images/icon-moon.svg' : 'assets/images/icon-sun.svg'"
            alt="Theme Icon" />
        </button>
      </div>
      <div class="border-t border-gray-500 px-6">
        <img src="assets/images/image-avatar.jpg" alt="User Avatar"
          class="avatar mt-4" />
      </div>
    </div>
  </div>

  <div class="navbar-top">
    <div class="logo items-center flex top-phone">
      <img src="assets/images/logo.svg" alt="Logo" class="logo-image" />
    </div>
    <div class="flex gap-5">
      <button class="btn-theme" (click)="toggleTheme()">
        <img
          [src]="(darkMode$ | async) ? 'assets/images/icon-moon.svg' : 'assets/images/icon-sun.svg'"
          alt="Theme Icon" />
      </button>
      <div class="border-l border-gray-500  md:px-5 md:py-7 py-3 px-4">
        <img src="assets/images/image-avatar.jpg" alt="User Avatar"
          class="avatar" />
      </div>
    </div>
  </div>
</nav>
