<div class="invoice-form" [formGroup]="invoiceForm">
  <h2 class="text-black text-3xl py-5 font-semibold new-title">New Invoice</h2>

  <div class="section">
    <h3 class="section-title">Bill From</h3>
    <div class="form-group">
      <label for="streetAddress">Street Address</label>
      <input type="text" id="streetAddress" formControlName="street"
        [ngClass]="{'is-invalid': invoiceForm.get('street')?.touched && invoiceForm.get('street')?.invalid}" />
      <div
        *ngIf="invoiceForm.get('street')?.touched && invoiceForm.get('street')?.invalid"
        class="error">
        Street Address is required.
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="city">City</label>
        <input type="text" id="city" formControlName="city"
          [ngClass]="{'is-invalid': invoiceForm.get('city')?.touched && invoiceForm.get('city')?.invalid}" />
        <div
          *ngIf="invoiceForm.get('city')?.touched && invoiceForm.get('city')?.invalid"
          class="error">
          City is required.
        </div>
      </div>
      <div class="form-group">
        <label for="postCode">Post Code</label>
        <input type="text" id="postCode" formControlName="postCode" />
        <div
          *ngIf="invoiceForm.get('postCode')?.touched && invoiceForm.get('postCode')?.invalid"
          class="error">
          Post Code is required.
        </div>
      </div>
      <div class="form-group">
        <label for="country">Country</label>
        <input type="text" id="country" formControlName="country" />
        <div
          *ngIf="invoiceForm.get('country')?.touched && invoiceForm.get('country')?.invalid"
          class="error">
          Country is required.
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <h3 class="section-title">Bill To</h3>
    <div class="form-group">
      <label for="clientName">Client's Name</label>
      <input type="text" id="clientName" formControlName="clientName" />
      <div
        *ngIf="invoiceForm.get('clientName')?.touched && invoiceForm.get('clientName')?.invalid"
        class="error">
        Client's Name is required.
      </div>
    </div>
    <div class="form-group">
      <label for="clientEmail">Client's Email</label>
      <input type="email" id="clientEmail" formControlName="clientEmail" />
      <div
        *ngIf="invoiceForm.get('clientEmail')?.touched && invoiceForm.get('clientEmail')?.invalid"
        class="error">
        A valid email is required.
      </div>
    </div>
    <div class="form-group">
      <label for="clientStreetAddress">Street Address</label>
      <input type="text" id="clientStreetAddress"
        formControlName="clientStreetAddress" />
      <div
        *ngIf="invoiceForm.get('clientStreetAddress')?.touched && invoiceForm.get('clientStreetAddress')?.invalid"
        class="error">
        Street Address is required.
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="clientCity">City</label>
        <input type="text" id="clientCity" formControlName="clientCity" />
        <div
          *ngIf="invoiceForm.get('clientCity')?.touched && invoiceForm.get('clientCity')?.invalid"
          class="error">
          City is required.
        </div>
      </div>
      <div class="form-group">
        <label for="clientPostCode">Post Code</label>
        <input type="text" id="clientPostCode"
          formControlName="clientPostCode" />
        <div
          *ngIf="invoiceForm.get('clientPostCode')?.touched && invoiceForm.get('clientPostCode')?.invalid"
          class="error">
          Post Code is required.
        </div>
      </div>
      <div class="form-group">
        <label for="clientCountry">Country</label>
        <input type="text" id="clientCountry" formControlName="clientCountry" />
        <div
          *ngIf="invoiceForm.get('clientCountry')?.touched && invoiceForm.get('clientCountry')?.invalid"
          class="error">
          Country is required.
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="form-row">
      <div class="form-group">
        <label for="invoiceDate">Invoice Date</label>
        <input type="date" id="invoiceDate" formControlName="paymentDue" />
        <div
          *ngIf="invoiceForm.get('paymentDue')?.touched && invoiceForm.get('paymentDue')?.invalid"
          class="error">
          Invoice Date is required.
        </div>
      </div>
      <div class="form-group">
        <label for="paymentTerms">Payment Terms</label>
        <select id="paymentTerms" formControlName="paymentTerms">
          <option value>Select Payment Terms</option>
          <option value="Net 1 Day">Net 1 Day</option>
          <option value="Net 7 Days">Net 7 Days</option>
          <option value="Net 14 Days">Net 14 Days</option>
          <option value="Net 30 Days">Net 30 Days</option>
        </select>
        <div
          *ngIf="invoiceForm.get('paymentTerms')?.touched && invoiceForm.get('paymentTerms')?.invalid"
          class="error">
          Payment Terms are required.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="projectDescription">Project Description</label>
      <input type="text" id="projectDescription"
        formControlName="description" />
      <div
        *ngIf="invoiceForm.get('description')?.touched && invoiceForm.get('description')?.invalid"
        class="error">
        Project Description is required.
      </div>
    </div>
  </div>

  <div class="section">
    <h3 class="section-title">Item List</h3>
    <div formArrayName="items" class="item-list" *ngIf="showNewItemFields">
      <div *ngFor="let item of items().controls; let i = index"
        [formGroupName]="i" class="item-row">
        <div class="item-field item-name">
          <input type="text" formControlName="name" placeholder="Item Name" />
        </div>
        <div class="item-field item-qty">
          <input type="number" formControlName="quantity" placeholder="Qty."
            (input)="updateTotal(i)" />
        </div>
        <div class="item-field item-price">
          <input type="number" formControlName="price" placeholder="Price"
            (input)="updateTotal(i)" />
        </div>
        <div class="item-field item-total">
          <input type="text" formControlName="total" placeholder="Total"
            readonly />
        </div>
        <button type="button" class="remove-item-btn"
          (click)="removeItem(i)">🗑️</button>
      </div>
    </div>
  </div>

  <button (click)="addItem()" class="add-item-btn">+ Add New Item</button>

  <div class="buttons">
    <button class="btn btn-secondary" (click)="discard()">Discard</button>
    <div class="gap-2 flex">
      <button class="btn btn-primary" (click)="saveAsDraft()">Save as
        Draft</button>
      <button class="btn btn-primary-save" (click)="saveAndSend()">Save &
        Send</button>
    </div>
  </div>
</div>
