<div class="invoice-form">
  <h2 class="text-black text-3xl py-5 font-semibold new-title">New Invoice</h2>

  <div class="section">
    <h3 class="section-title">Bill From</h3>
    <div class="form-group">
      <label for="streetAddress">Street Address</label>
      <input type="text" id="streetAddress" />
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="city">City</label>
        <input type="text" id="city" />
      </div>
      <div class="form-group">
        <label for="postCode">Post Code</label>
        <input type="text" id="postCode" />
      </div>
      <div class="form-group">
        <label for="country">Country</label>
        <input type="text" id="country" class="country" />
      </div>
    </div>
  </div>
  <div class="section">
    <h3 class="section-title">Bill To</h3>
    <div class="form-group">
      <label for="clientName">Client's Name</label>
      <input type="text" id="clientName" />
    </div>
    <div class="form-group">
      <label for="clientEmail">Client's Email</label>
      <input type="email" id="clientEmail" class="input" />
    </div>
    <div class="form-group">
      <label for="clientStreetAddress">Street Address</label>
      <input type="text" id="clientStreetAddress" />
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="clientCity">City</label>
        <input type="text" id="clientCity" />
      </div>
      <div class="form-group">
        <label for="clientPostCode">Post Code</label>
        <input type="text" id="clientPostCode" />
      </div>
      <div class="form-group">
        <label for="clientCountry">Country</label>
        <input type="text" id="clientCountry" />
      </div>
    </div>
  </div>
  <div class="section">
    <div class="form-row">
      <div class="form-group">
        <label for="invoiceDate">Invoice Date</label>
        <input type="date" id="invoiceDate" />
      </div>
      <div class="form-group">
        <label for="paymentTerms">Payment Terms</label>
        <select id="paymentTerms">
          <option>Net 1 Day</option>
          <option>Net 7 Days</option>
          <option>Net 14 Days</option>
          <option>Net 30 Days</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="projectDescription">Project Description</label>
      <input type="text" id="projectDescription" />
    </div>
  </div>

  <div class="section">
    <h3 class="section-title">Item List</h3>
    <div class="item-list">
    </div>
  </div>
  <button (click)="addItem()" class="add-item-btn">+ Add New Item</button>
  <div class="buttons">
    <button class="btn btn-secondary">Discard</button>
    <div class="gap-2 flex">
      <button class="btn btn-primary">Save as Draft</button>
      <button class="btn btn-primary-save">Save & Send</button>
    </div>
  </div>
</div>
