.invoice-form {
  @apply rounded-r-3xl;
  max-width: 550px;
  padding: 30px;
  background-color: #ffffff;
}

.section {
  margin-bottom: 30px;
}

.section-title {
  margin-bottom: 15px;
  color: #7c5dfa;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #888;
  font-weight: bold;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f8f8f8;
  color: #333;
}

.form-row {
  display: flex;
  gap: 15px;
}

.form-row .form-group {
  flex: 1;
}

.add-item-btn {
  @apply rounded-full;
  display: block;
  margin: 15px 0;
  padding: 10px 20px;
  border: none;
  background-color: #f8f8f8;
  color: #7c5dfa;
  cursor: pointer;
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.btn {
  @apply rounded-full px-3 py-2 text-sm;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-primary {
  background-color: #373b53;
  color: #fff;
}

.btn-secondary {
  background-color: #f9fafe;
  color: #333;
}
.btn-primary-save {
  background-color: #7c5dfa;
  color: #fff;
}
