.btn-edit {
  @apply px-4 py-2 rounded-lg bg-blue-100 text-blue-700 hover:bg-blue-200;
}

.btn-delete {
  @apply px-4 py-2 rounded-lg bg-red-100 text-red-700 hover:bg-red-200;
}

.btn-paid {
  @apply px-4 py-2 rounded-lg bg-purple-100 text-purple-700 hover:bg-purple-200;
}

.btn-cancel {
  @apply px-4 py-2 rounded-lg bg-gray-100 text-gray-700 hover:bg-gray-200;
}

.buttom-amout {
  background-color: #373b53;
  @apply text-white;
}
.invoice-money {
  background-color: #f9fafe;
  @apply px-3 py-6;
}

.btn-delete-confirm {
  @apply px-4 py-2 rounded-lg bg-red-600 text-white hover:bg-red-700;
}

.status-paid {
  @apply bg-green-100 font-semibold rounded-md px-4 py-2 flex;
  color: #33d69f;
  background-color: #f3fdfa;
}

.status-pending {
  @apply bg-yellow-100 font-semibold rounded-md px-4 py-2 flex items-center;
  color: #ff8f00;
  background-color: #fff9f0;
}

.status-draft {
  @apply font-semibold rounded-md px-4 py-2 flex items-center;
  color: #373b53;
  background-color: #f4f4f5;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1000;
  overflow: hidden;
}

.modal-content {
  position: relative;
  max-height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  transform: translateX(-100%);
  animation: slideIn 0.5s forwards;
}

.modal-content::-webkit-scrollbar {
  display: none;
}

.modal-content {
  position: relative;
  max-height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  transform: translateX(-100%);
  animation: slideInSmall 0.5s forwards;
}

.modal-content::-webkit-scrollbar {
  display: none;
}

@keyframes slideInSmall {
  0% {
    transform: translateX(-100%);
  }
  90% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(0%);
  }
}

@media (min-width: 1024px) {
  @keyframes slideInLarge {
    0% {
      transform: translateX(-100%);
    }
    90% {
      transform: translateX(13.2%);
    }
    100% {
      transform: translateX(13.2%);
    }
  }

  .modal-content {
    animation: slideInLarge 0.5s forwards;
  }
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 90%;
  background-color: #f0f0f0;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-weight: bold;
}

.close-modal:hover {
  background-color: #e0e0e0;
}
