<div *ngIf="invoice$ | async as invoice" class="p-8 min-h-screen">
  <div class="max-w-3xl mx-auto mb-6">
    <a routerLink="/" class="text-purple-600 font-semibold">&lt; Go back</a>
  </div>

  <div
    class="max-w-3xl mx-auto  bg-white shadow-sm rounded-lg mb-6 top-buttons"
    *ngIf="!invoice.deleted">
    <div class="flex justify-between items-center p-4 rounded-lg">
      <div class="flex gap-3 ">
        <span class="flex items-center status-text">Status </span>
        <span [ngClass]="{
            'status-paid': invoice.status === 'paid',
            'status-pending': invoice.status === 'pending',
            'status-draft': invoice.status === 'draft'
          }"> <span class=" inline-flex items-center"><span
              class="dot"></span>{{
            invoice.status | capitalize }}</span></span>
      </div>
      <div class="flex items-center space-x-4">
        <button class="btn-edit" (click)="openEditModal()">Edit</button>
        <button class="btn-delete" (click)="openDeleteModal()">Delete</button>
        <!-- <button class="btn-paid">Mark as Paid</button> -->
        <button
          *ngIf="invoice.status.toLowerCase() !== 'paid'"
          (click)="markAsPaid()"
          class="btn-paid">
          Mark as Paid
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="invoice.deleted" class="max-w-3xl mx-auto mb-6 text-red-600">
    This invoice has been marked as deleted.
  </div>

  <div class="max-w-3xl mx-auto bg-white shadow-lg rounded-lg buttom-section"
    *ngIf="!invoice.deleted">
    <div class="p-8">
      <h2 class="text-2xl font-bold"> <span class="hashtag"># </span>{{
        invoice.id }}</h2>
      <p class="text-color mb-8">{{ invoice.description }}</p>

      <div class="grid grid-cols-3 gap-8">

        <div class="flex flex-col gap-5">
          <div>
            <p class="text-color">Invoice Date</p>
            <p class="font-semibold">{{ invoice.createdAt | date:'dd MMM yyyy'
              }}</p>
          </div>

          <div>
            <p class="text-color">Payment Due</p>
            <p class="font-semibold">{{ invoice.paymentDue | date:'dd MMM yyyy'
              }}</p>
          </div>
        </div>
        <div>
          <p class="text-color">Bill To</p>
          <p class="font-semibold my-3">{{ invoice.clientName }}</p>
          <p class="text-color">{{ invoice.clientAddress.street }}</p>
          <p class="text-color">{{ invoice.clientAddress.city }}</p>
          <p class="text-color">{{ invoice.clientAddress.postCode }}</p>
          <p class="text-color">{{ invoice.clientAddress.country }}</p>
        </div>
        <div>
          <p class="text-color mb-3">Sent To</p>
          <p class="font-semibold">{{ invoice.clientEmail }}</p>
        </div>
      </div>

      <section class="py-6 ">
        <div class="rounded-t-xl invoice-money">
          <table class="min-w-full leading-normal">
            <thead class="my-6">
              <tr>
                <th class="text-start">Item Name</th>
                <th class="text-center">QTY.</th>
                <th class="text-end">Price</th>
                <th class="text-end">Total</th>
              </tr>
            </thead>
            <tbody class="my-6">
              <tr *ngFor="let item of invoice.items">
                <td>{{ item.name }}</td>
                <td class="text-center">{{ item.quantity }}</td>
                <td class="text-end">{{ item.price | currency:'GBP'}}</td>
                <td class="text-end">{{ item.total | currency:'GBP'}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div
          class="flex justify-between items-center py-6 px-3 buttom-amout rounded-b-xl">
          <span class="text-gray-500">Amount Due</span>
          <span class="text-xl font-bold">{{ invoice.total | currency:'GBP'
            }}</span>
        </div>

      </section>

    </div>

    <div class="modal-overlay" *ngIf="showEditModal" (click)="closeEditModal()">
      <div
        class="modal-content w-full sm:w-full md:w-3/4  bg-white lg:w-1/3"
        (click)="$event.stopPropagation()">
        <app-edit-invoice
          [invoice]="invoice$ | async"
          [closeModal]="closeEditModal.bind(this)"
          (invoiceUpdated)="onInvoiceUpdated($event)">
        </app-edit-invoice>
        <button class="close-modal lg:hidden md:hidden sm:visible"
          (click)="closeEditModal()">X</button>
      </div>
    </div>

  </div>
</div>

<div *ngIf="showDeleteModal"
  class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50">
  <div
    class="bg-white edit-model p-6 rounded-lg delete-model shadow-lg max-w-md w-full">
    <h2 class="text-xl font-bold mb-4">Confirm Deletion</h2>
    <p class="mb-6">Are you sure you want to delete invoice #{{ (invoice$ |
      async)?.id }}? This action cannot be undone.</p>
    <div class="flex justify-end space-x-4">
      <button class="btn-cancel" (click)="closeDeleteModal()">Cancel</button>
      <button class="btn-delete-confirm"
        (click)="deleteInvoice()">Delete</button>
    </div>
  </div>
</div>
