/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-mode {
  background-color: #141625;
  color: white;
}
body.dark-mode .navbar-top {
  background-color: #1e2139;
  color: #ffffff;
}
body.dark-mode .navbar-desktop {
  background-color: #1e2139;
  color: #ffffff;
}
body.dark-mode .invoice-item-container {
  background-color: #1e2139;
  color: white;
}
body.dark-mode .invoice-id {
  color: white;
}
body.dark-mode .invoice-due-date {
  color: #dfe3fa;
}
body.dark-mode .invoice-client-name {
  color: #dfe3fa;
}
body.dark-mode .invoice-total-amount {
  color: white;
}
body.dark-mode .status-paid {
  background-color: #1f2b3f;
}
body.dark-mode .status-pending {
  background-color: #2b2736;
}
body.dark-mode .status-draft {
  background-color: #292c44;
  color: #dfe3fa;
}
body.dark-mode .filter {
  color: white;
}
body.dark-mode .drop {
  background-color: #252945;
  border: none;
}
body.dark-mode .custom-checkbox {
  color: white;
}
body.dark-mode .checkbox-custom {
  background-color: #1e2139;
}
body.dark-mode .invoice-form {
  background-color: #141625;
}
body.dark-mode #country {
  background-color: #1e2139;
  border: none;
}
body.dark-mode #streetAddress {
  background-color: #1e2139;
  border: none;
}
body.dark-mode #city {
  background-color: #1e2139;
  border: none;
}
body.dark-mode #postCode {
  background-color: #1e2139;
  border: none;
}
body.dark-mode #clientName {
  background-color: #1e2139;
  border: none;
}
body.dark-mode #clientEmail {
  background-color: #1e2139;
  border: none;
}
body.dark-mode #clientStreetAddress {
  background-color: #1e2139;
  border: none;
}
body.dark-mode #clientCity {
  background-color: #1e2139;
  border: none;
}
body.dark-mode #clientPostCode {
  background-color: #1e2139;
  border: none;
}
body.dark-mode #clientCountry {
  background-color: #1e2139;
  border: none;
}
body.dark-mode #invoiceDate {
  background-color: #1e2139;
  border: none;
  color: #898a92;
}
body.dark-mode #paymentTerms {
  background-color: #1e2139;
  border: none;
  color: #fff;
}
body.dark-mode #projectDescription {
  background-color: #1e2139;
  border: none;
}
body.dark-mode .add-item-btn {
  background-color: #1e2139;
  border: none;
  color: #dfe3fa;
}
body.dark-mode .new-title {
  color: #fff;
}
body.dark-mode .top-buttons {
  background-color: #1e2139;
}
body.dark-mode .buttom-section {
  background-color: #1e2139;
}
body.dark-mode .invoice-money {
  background-color: #252945;
}
body.dark-mode .buttom-amout {
  background-color: #0c0e16;
}
body.dark-mode .text-color {
  color: #dfe3fa;
}
body.dark-mode .delete-model {
  background-color: #1e2139;
}
body.dark-mode .edit-model {
  background-color: #141625;
}
body.dark-mode .input {
  background-color: #1e2139;
  color: #fff;
  border: none;
}
body.dark-mode .block {
  color: #dfe3fa;
}
body.dark-mode .btn-cancel {
  background-color: #252945;
  color: white;
}
